# Server
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password
DB_NAME=volrank

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=5h

# Email verification
EMAIL_VERIFY_EXPIRES_MIN=5

# Resend
RESEND_API_KEY=your_resend_api_key

# Public API
V1365_API_KEY=your_public_api_key

V1365_API_BASE_URL=http://openapi.1365.go.kr/openapi/service/rest

VOLUNTEER_LIST_PATH=/VolunteerPartcptnService/getVltrSearchWordList
VOLUNTEER_DETAIL_PATH=/VolunteerPartcptnService/getVltrPartcptnItem

REGION_LIST_PATH=/CodeInquiryService/getAreaCodeInquiryList
